{% extends 'base.html.twig' %}

{% block title %}CJPG? - Grille Euromillions{% endblock %}

{% block body %}
    <main>
        <div class="container-column">
            {{ component('grid_euromillions', {
                form: form,
            }) }}
        </div>
    </main>
{% endblock %}
