{% extends 'base.html.twig' %}

{% block title %}CJPG? - Grille Euromillions{% endblock %}

{% block body %}
    <div class="container-column">
        {{ component('grid_euromillions', {
            form: form,
        }) }}
    </div>
{% endblock %}
